<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Tic-Tac-Toe: Offline & Multiplayer" />
    <meta
      property="og:description"
      content="Play Tic-Tac-Toe offline or challenge your friends in multiplayer mode! Simple, fun, and engaging."
    />
    <meta
      property="og:url"
      content="https://www.ninadbaurah.me/projects/tic-tac-toe"
    />
    <meta property="og:image" content="/image/tic-tac-toe-preview.svg" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Tic-Tac-Toe Game" />
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Tic Tac Toe</h1>
      <div class="option-container">
        <a href="/offlineGameBoard" class="button"
          >Play Offline</a
        >
        <a href="/multiplayer" class="button"
          >Play Multiplayer</a
        >
      </div>
    </div>
  </body>
  <footer>
    Made by - <span><a href="/">Ninad Baruah&#10084;</a></span>
  </footer>
</html>
