<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/multiplayer.css">
    <title>Document</title>
  </head>
  <body>
    <a href="/projects/tic-tac-toe" style="text-decoration: none; cursor: pointer;"><h1 id="logo">Tic-Tac-Toe</h1></a>
    <div class="container">
      <div class="option-container">
        <h1>Create Game</h1>
        <div class="choose-symbol">
          <span> Choose Symbol</span>
          <div class="symbols">
            <span class="playing-symbol">X</span>
            <span class="playing-symbol">O</span>
          </div>
        </div>
        <div class="first-move">
          <span>First Move</span>
          <div class="first-move-options">
            <span class="playing-move">You</span>
            <span class="playing-move">Oponent</span>
          </div>
        </div>
        <div class="timestamp">
          <span>Time stamp</span>
          <div class="timestamp-options">
            <span class="playing-timestamp">30s</span>
          </div>
        </div>
      </div>
      <button class="create-game-button">Create</button>      
    </div>
    <script src="/js/multiplayer.js"></script>
  </body>
</html>
